= form_for(@saved_adventure) do |f|
  = f.error_messages object_name: 'adventure', message: nil

  %p
    = f.label :name, 'Name or description'
    %br
    = f.text_field :name

  %p= submit_tag 'Save adventure'
