%ul.inventory
  - adventure.inventory.each do |item|
    %li{class: item}
      = item_with_indefinite_article(item)
      = link_to("Drop #{item}", drop_item_path(item))
      = link_to("Use #{item}", use_item_path(item))
