.description= adventure.description

= render :partial => 'items_here'

= render :partial => 'flash_messages'

%ul.actions
  - %w(north east south west).each do |direction|
    %li= link_to("Go #{direction.titlecase}", move_path(direction))

= render :partial => 'inventory'
