- available_directions = adventure.available_directions

= direction_arrow('north', available_directions)

= direction_arrow('west', available_directions)
= direction_arrow('east', available_directions)

#content
  = render :partial => 'flash_messages'

  .description= adventure.description.html_safe

  = render :partial => 'items_here'

= direction_arrow('south', available_directions)

#controls
  = render :partial => 'inventory'

  %p
    Score:
    0

  %p Quit
