= move_link('north')

%div
  = move_link('west')
  = move_link('east')

  #content
    %h1= adventure.room_name

    = render :partial => 'flash_messages'

    .description
      %p= adventure.description

    = render :partial => 'items_here'

  = move_link('south')

= render :partial => 'inventory'
